<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Войти</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Имя пользователя</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Войти</button>&nbsp; или&nbsp;
					<a href="/#!/signup">Зарегистрироваться</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
